body {
    padding: 0.25%;
    background: #8ee4af;
    font-family: 'Eczar', serif;
}
.navbar {
    opacity: 0.6;
}
#jumbotron {
    text-align: center;
    background-color: lightgreen;
}
.row {
    padding:2%;
}
img {
    padding:4%;
    text-align: center;
    width:96%;
}
h1 {
    text-align: center;
}
.alert {
    text-align: center;
}
#top-ish {
    background: #EDF5E1;
    font-family: 'Nanum Pen Script', cursive;
}
#demo {
    background: #379683; 
    padding-left: 30%;
    padding-right:30%;
}